* text=auto
data/* binary
src/* text=lf
RSeurat/configure text eol=lf
RSeurat/cleanup text eol=lf
RSeurat/DESCRIPTION text eol=lf
RSeurat/src/entrypoint.c text eol=lf
RSeurat/src/Makevars.in text eol=lf
RSeurat/src/Makevars.win.in text eol=lf
R/* text=lf
docker/scripts/*.sh text eol=lf
docker/Dockerfile* text eol=lf
docker/docker-compose.yml text eol=lf
